@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    /* DOCUMENT COLORS */
    --white: #f1f1f1;
    --black: #222326;
    --gray: #2B2C30;
    --font-gray: #AAA5A5;
    /* COLORS */
    --color1: #F26389;
    --color2: #F2134F;
    --color3: #F2133C;
    --color4: #D91122;
    --color5: #AAA5A5;
    /* FADES */
    --fade-main: linear-gradient(107.33deg, #F24913 -1%, #F2134F 46.87%, #F2138B 100%);
    /* FONTS */
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    color: var(--black);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

span.title-red {
    color: var(--color4);
}

/* HEADER */
header {
    background-color: var(--black);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 9vh;

    padding: 0.5vh 0;
    position: fixed;
    box-shadow: 0px 0px 16px rgb(0, 0, 0);

    z-index: 9999;
}

header h1 {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 2.5em;
    line-height: 50px;
    color: var(--white);

    margin-left: 2vw;
}

header img {
    margin-left: 10vw;
}

/*
 ---------------- menu style ------------
*/

.nav-icon-5{
  width: 35px;
  height: 30px;
  margin-left: 70%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.nav-icon-5 span{
  background-color:#fff;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 4px;
  transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
  top:0px;
  left: 0px;
}
.nav-icon-5 span:nth-child(2){
  top:13px;
  left: 0px;
  opacity:1;
}
.nav-icon-5 span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
  transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
  transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
  transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
  transform: rotate(45deg);
  top: 13px;
}
.nav-icon-5.open span:nth-child(2){
  opacity:0;
}
.nav-icon-5.open span:nth-child(3){
  transform: rotate(-45deg);
  top: 13px;
}


/* Main style */

main {
    display: flex;
    padding-top: 9vh;
    align-items: center;
    flex-direction: column;
}

.div-block {
    color: var(--black);
    margin-top: 2rem;   
    background: rgba(34, 35, 38, 0.25);
    width: 42.6rem;
    height: 17.1rem;
    border-radius: 16px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
}
.div-block {
    display: flex;
}

.div-block p {
    margin-top: 1rem;
    width: 25rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
}

.text-color{
    background: var(--fade-main);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div-text h1 {
    font-weight: 700;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 2.5rem;
}

.div-text {
    margin-top: 1.7rem;
    margin-left: 3.5em;
}

.div-streak {
    margin-top: 4rem;
    margin-left: 1.5rem;
}

#parag-d2 {
    width: 100rem;
    font-size: 0.9rem;
}

/* scroll roll */

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}


.card-roll {
  max-width: 32.5vw;
  display: flex;
  overflow: auto;
  background-color: blue;
  
}

.card {
  padding: 2rem;
  background-color: red;
  margin-right: 1rem;
}

.card-roll::-webkit-scrollbar {
  display: none;
}